<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>과제관리</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            show_hw();
        });

        function show_hw() {
            $.ajax({
                type: "GET",
                url: "/hw",
                data: {},
                success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                    if (response['result'] == 'success') {
                        let subjectList = response['subject'] //list
                        let hwDict = response['hw']  //dict


                        for (let i = 0; i < subjectList.length; i++) {
                            let subject = subjectList[i]


                            let tempHtml1 = `<p><div class="card">
                                                <h5 class="card-header">${subject}<span class="oi oi-chevron-bottom"></span><span><button type="button"
                                                                                                class="close"
                                                                                                aria-label="Close" onclick="del_subject('${subject}')">
                                                <span aria-hidden="true">&times;</span></button></span>
                                                </h5>
                                            <div class='card-body' id="${subject}">
                                            </div>
                                        </div></p>`

                            $('.hw-list').append(tempHtml1);
                            $('.custom-select').append(`<option value="${i}">${subject}</option>`)


                            if (!isEmpty(hwDict)) {
                                let hw = hwDict[subject]
                                for (let j = 0; j < hw.length; j++) {
                                    let main = hw[j]['main']
                                    let sub = hw[j]['sub']
                                    let day = hw[j]['day']
                                    let tempHtml2 = `<div class="checkbox">
                                                            <label>
                                                            <input type="checkbox" value="">
                                                            <h5 class="card-title" style="display: inline">${main}<span
                                                                class="oi oi-chevron-bottom"></span><span><button type="button"
                                                                                  class="close"
                                                                                  aria-label="Close" onclick="del_hw('${subject}', '${j}')">
                                                                <span aria-hidden="true">&times;</span></button></span></h5>
                                                            </label>
                                                            <p class="card-text">${sub}</p>
                                                            <p><span class="badge badge-pill badge-secondary">${day}</span></p>
                                                        </div>`

                                    $('#' + subject).append(tempHtml2) //id변수로 받기

                                }
                            }
                        }
                    }
                }
            })

        }

        function add_subject() {
            let subject = $('.subject-input').val()

            if (exist_subject(subject))
                alert("이미 추가한 과목입니다.")

            else {
                $.ajax({
                    type: "POST",
                    url: "/addsub",
                    data: {
                        'subject_give': subject
                    },
                    success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                        if (response['result'] == 'success') {
                            alert(response['msg'])
                            location.reload()
                        }
                    }
                })

            }
        }

        function add_hw() {
            let subject = $('.custom-select option:selected').text()
            let main = $('#hw-main').val()
            let sub = $('#hw-sub').val()
            let day = get_deadline()

            $.ajax({
                type: "POST",
                url: "/addhw",
                data: {
                    'subject_give': subject,
                    'main_give': main,
                    'sub_give': sub,
                    'day_give': day
                },
                success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                    if (response['result'] == 'success') {
                        alert(response['msg'])
                        location.reload()
                    }
                }
            })

        }

        function del_subject(subject) {
            console.log(subject)
            $.ajax({
                type: "POST",
                url: "/delsub",
                data: {
                    'subject_give': subject
                },
                success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                    if (response['result'] == 'success') {
                        alert(response['msg'])
                        location.reload()
                    }
                }
            })

        }

        function del_hw(subject, index) {
            $.ajax({
                type: "POST",
                url: "/delhw",
                data: {
                    'subject_give': subject,
                    'index_give': index
                },
                success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                    if (response['result'] == 'success') {
                        alert(response['msg'])
                        location.reload()
                    }
                }
            })


        }

        function get_deadline() {
            let date = document.getElementById("date").value;
            let time = document.getElementById("time").value;

            return date + " " + time
        }

        function isEmpty(obj) {
            for (let key in obj) {
                if (obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        }

         function exist_subject(subject_name) {
            let exist = false;
            $.ajax({
                type: "GET",
                url: "/hw",
                data: {},
                async: false, //동기식
                success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                    if (response['result'] == 'success') {
                        let subject = response['subject']

                        for (let i = 0; i < subject.length; i++) {
                            if (subject[i] == subject_name) {
                                exist = true;
                                break;
                            }
                        }
                    }
                }
            })
            return exist
        }

    </script>
    <style type="text/css">

        .title {
            width: 1000px;
            margin: 40px auto;
            padding-top: 20px;
        }

        .hw-list {
            margin: 40px auto;
            width: 750px;
        }

        .add-button {
            width: 500px;
            margin: auto;
            padding-left: 150px;
        }

    </style>
</head>
<body>
<div class="title">
    <div class="jumbotron" style="background-color:midnightblue">
        <h1 style="color: aliceblue">{{realuser}}님의 과제관리</h1>
        <p style="color: aliceblue">편리한 WEBEX접속과 과제관리</p>
    </div>
</div>
<!-- Button trigger modal -->
<div class="add-button">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-subject">
        과목추가
    </button>


    <!-- Button trigger modal -->

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-hw">
        과제추가
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="add-hw" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">과제추가</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">과목이름</span>
                    </div>
                    <select class="custom-select">
                        <option selected>---과목을 고르세요---</option>
                        //새로고침할때마다 과목 새로고침


                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">과제제목</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default" id="hw-main">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">과제설명</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default" id="hw-sub">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="hw-date">마감날짜</span>
                    </div>
                    <input type="date" id="date" class="form-control" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="hw-time">마감시간</span>
                    </div>
                    <input type="time" id="time" class="form-control" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" onclick="add_hw()" class="btn btn-primary">추가</button>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="add-subject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">과목추가</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">과목이름</span>
                    </div>
                    <input type="text" class="subject-input" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button onclick="add_subject()" type="button" class="btn btn-primary">추가</button>
            </div>
        </div>
    </div>
</div>


<div class="hw-list">

</div>
</body>
</html>