<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HONGIK campus manager</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log('open')
        });


    </script>
    <style type="text/css">
        .title {
            width: 1000px;
            margin: 40px auto;
            padding-top: 20px;
        }


        .card {
            margin: 100px auto;
        }

        .card-body {
            text-align: center;
        }


    </style>
</head>
<body>
<div class="title">
    <div class="jumbotron" style="background-color:midnightblue">

        <h1 style="color: aliceblue">{{realuser}}님의 HOME</h1>
        <p style="color: aliceblue">편리한 WEBEX접속과 과제관리</p>
<!--        <hr style="border-color: aliceblue">-->

    </div>
</div>

<div class="menu">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../static/class.jpg" alt="Card image cap">
        <div class="card-body">
            <a href="/classroom"><h3 class="card-text">강의실</h3></a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../static/homework.jpg" alt="Card image cap">
        <div class="card-body">
            <a href="/homework"><h3 class="card-text">과제</h3></a>
        </div>
    </div>

</div>


</body>
</html>