<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HONGIK campus manager 로그인페이지</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });


        function openClose() {
            // add-box의 display 값이 block 이면(= 눈에 보이면)
            if ($(".join-box").css("display") == "block") {
                // add-box를 가리고
                $(".join-box").hide();
            } else {
                // 아니면(눈에 보이지 않으면) post-box를 펴라
                $(".join-box").show();
            }
        }

        function join() {
            let id = $('#userid').val()
            //let name = $('#username').val()
            let pw = $('#password').val()
            let repw = $('#re_password').val()
            let email = $('#useremail').val()

            let exist = 1
            console.log(exist)

            exist = exist_id(id)
            console.log(exist)
            if (!(id && pw && repw && email))
                alert("모두 입력해주세요")
            else if (!is_id(id))
                alert('아이디가 학번인지 확인해주세요')
            else if (exist_id(id))
                alert('이미 있는 아이디 입니다')
            else if (pw != repw)
                alert("비밀번호를 확인해주세요")
            else {
                $.ajax({
                    type: "POST",
                    url: "/join",
                    data: {
                        'id_give': id,
                        'pw_give': pw,
                        'email_give': email
                    },
                    success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                        if (response['result'] == 'success') {
                            alert(response['msg'])
                            location.reload()
                        }
                    }
                })

            }
        }

        function login() {
            let id = $('#id').val()
            let pw = $('#pw').val()

            $.ajax({
                type: "POST",
                url: "/login",
                data: {'id_give': id, 'pw_give': pw},
                success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                    if (response['result'] == 'success') {
                        alert(response['msg'])
                        // If we succed we make a request to get the template
                        window.location.href = "/home";
                        // With this line we are making a simple GET request to Flask and the template returned is opened in the current window
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

        function exist_id(id) {
            let exist = false;
            $.ajax({
                type: "GET",
                url: "/join",
                data: {},
                async: false, //동기식
                success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                    if (response['result'] == 'success') {
                        let all_users = response['data']

                        for (let i = 0; i < all_users.length; i++) {
                            console.log(all_users[i]['userid'])
                            console.log(id)
                            if (all_users[i]['userid'] == id) {
                                exist = true;
                                break;
                            }
                        }
                    }
                }
            })
            return exist
        }

        function is_id(id) {
            let pass = 1

            if (id.length != 7)
                pass = 0
            else if (id.charAt(0) != 'B' && id.charAt(0) != 'C')
                pass = 0
            else {
                for (let i = 1; i < 7; i++) {
                    if (!(id.charCodeAt(i) >= 48 && id.charCodeAt(i) <= 57)) {
                        pass = 0
                        break
                    }
                }
            }
            return pass
        }


    </script>
    <style type="text/css">
        .title {
            width: 1000px;
            height: 100px;
            border-style: solid;
            border-color: black;
            text-align: center;
            margin: 40px auto;
            padding-top: 20px;
        }

        .join-box {
            margin: auto;
            width: 500px;
            height: 450px;

        }

        .login-box {
            width: 500px;
            height: 300px;
            margin: auto;

        }


    </style>
</head>
<body>
<div class="title">
    <h1>HONGIK CAMPUS MANAGER</h1>

</div>
<div class="login-box">
    <h4>
        로그인
    </h4>
    <form>
        <div class="form-group">
            <label for="userid">아이디</label>
            <input type="text" class="form-control" id="id" placeholder="학번" name="id_give"/>

        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="pw" placeholder="비밀번호" name="pw_give"/>
        </div>
    </form>
    <button type="submit" class="btn btn-primary" onclick="openClose()">회원가입</button>
    <button type="submit" class="btn btn-primary" onclick="login()">로그인</button>


</div>
<div class="join-box" style="display: none">
    <h4>
        회원가입
    </h4>
    <div>
        <div class="form-group">
            <label for="userid">아이디</label>
            <input type="text" class="form-control" id="userid" placeholder="학번" name="id_give"/>
            <!-- 마지막에 name과 app.py의 get 메소드 사용하는 부분이 일치해야 상응한다 -->
        </div>
        <div class="form-group">
            <label for="useremail">Email</label>
            <input type="email" class="form-control" id="useremail" placeholder="Email">

        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="password" placeholder="비밀번호" name="pw_give"/>
        </div>
        <div class="form-group">
            <label for="re_password">비밀번호확인</label>
            <input type="password" class="form-control" id="re_password" placeholder="비밀번호확인" name="repw_give"/>
        </div>
        <button type="submit" class="btn btn-primary" onclick="join()">등록</button>
    </div>


</div>
</body>
</html>